$hightlightcolor: #ffc823;
$lightFont: #4f5c65;
$lightBorder: #eee;
$mobile: 768px;

body {
  background-color: #eee;
}

.miconsent {
  &.blocking {
    width: 100vw;
    height: 100vh;
    background-color: transparentize($color: #f8f8ff, $amount: 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
  }
  &.blocking &__container {
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  &__container {
    position: fixed;
    left: 30px;
    bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 24px,
      rgba(0, 0, 0, 0.05) 0px 2px 6px;
    background-color: white;
    max-height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }
    // border-radius: 18px;
    width: 540px;
    max-width: 90vw;
    z-index: 9999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    span {
      display: block;
    }
  }

  // consent manager
  &__content {
    padding: 15px;
    @media screen and (min-width: $mobile) {
      padding: 35px;
    }
    padding-bottom: 26px;
  }
  &__headline {
    font-size: 29px;
    margin-bottom: 17px;
    font-weight: 300;
  }
  &__subline {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  &__info {
    font-size: 12px;
    margin-bottom: 26px;
    line-height: 1.5;
    color: $lightFont;
  }
  &__options {
    display: flex;
    padding: 15px;
    @media screen and (min-width: $mobile) {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 15px;
    }
    padding-top: 0px;
    @media (max-width: 540px) {
      flex-direction: column;
      & > div {
        margin-bottom: 10px;
      }
    }
  }
  &__option {
    display: flex;
    text-align: center;
    margin-right: 10px;
    width: 100%;
    &:last-of-type {
      margin-right: 0px;
    }
    button {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: transparent;
      text-shadow: none;
      outline: none;
      cursor: pointer;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      color: $lightFont;
      margin: 0;
      white-space: nowrap;
    }
    &.accept_all {
      border-color: transparent;
      button {
        border: none;
        color: white;
      }
    }
  }
  &__decline {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      appearance: none;
      background-color: transparent;
      border: none;
      font-size: 12px;
      color: #4f5c65;
      line-height: 14px;
      margin-right: 15px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &__scriptlist {
    & > div {
      padding: 5px;
      border: 0.5px solid $lightBorder;
      border-bottom: none;
      &:first-of-type {
        border-top: none;
        // border-top-left-radius: 5px;
        // border-top-right-radius: 5px;
      }
      &:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 0.5px solid $lightBorder;
      }
    }
  }
  &__scriptlist_general {
    display: flex;
    align-items: center;
    & > div {
      padding-right: 10px;
      width: 100%;
    }
  }
  &__scriptlist_info {
    width: 100%;
    overflow: hidden;
    height: 0;
    // display: flex;
    margin-top: 5px;
    & > div > span {
      font-size: 11px;
    }
    &.open {
      height: auto;
    }
    & > div {
      display: flex;
      width:100%;
      border-bottom: 0.5px solid $lightBorder;
      padding-bottom: 5px;
      padding-top: 5px;
      span:nth-child(1) {
        width: 30%;
      }
      &:last-of-type {
        border-bottom: none;
      }
      &:first-of-type {
        border-top: 0.5px solid $lightBorder;
      }
    }
  }
  &__scriptlist_item {
    // display: flex;
    & > div {
      width:100%;
    }
    
    &_icon {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin-right: 10px;
    }
    span {
      font-size: 14px;
    }
    small {
      font-size: 12px;
      margin-top: 3px;
      display: block;
      color: $lightFont;
      line-height: 14px;
      display: block;
      &.link {
        font-size: 11px;
        text-decoration: underline;
        cursor: pointer;
        user-select: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__accept_all {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 15px;
    font-size: 14px;
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px solid $lightBorder;
  }

  &__moreinfo a {
    font-size: 12px;
    color: #4f5c65;
    line-height: 14px;
    margin-right: 15px;
    text-decoration: underline;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    max-width: 52px;
    min-width: 52px;
    height: 20px;
    margin-right: 8px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: -3px;
    bottom: -3px;
    background-color: white;
    transition: 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
  }

  // input:checked + .slider {
  //   background-color: #ffc823;
  // }

  // input:focus + .slider {
  //   box-shadow: 0 0 1px #ffc823;
  // }

  input:checked + .slider:before {
    transform: translateX(34px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
